.cardsdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 25px;
}

.cardDiv{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 15rem;
    padding: 1.5rem;

    background-image: url('https://p4.wallpaperbetter.com/wallpaper/235/956/988/space-deep-you-are-wallpaper-preview.jpg');
    border: .3rem solid #ffbf00;
    border-radius: 18px;
    box-shadow: 6px 6px 16px white;
    transition: 0.5s ease;
    
}

.cardDiv:hover{
    transform: scale(1.03);
    box-shadow: 6px 6px 16px yellow;
}

.imgCard{
    /* border: 3px solid white; */
    border-radius: 10px;
    width: 14rem;
    
}

.text{
    /* border: 2px solid white; */
    display: flex;
    align-self: flex-start;
    margin-bottom: -20px;
    padding-right: -1rem;
    
}

.type{
    /* border: 1px solid red; */
    padding-right: 5rem;
    color: white;
    text-shadow: 2px 2px  15px red; 
    font-size: 20px;
    
}

.info{
    /* border: 1px solid green; */
    color: yellow;
    text-shadow: 2px 2px  15px white; 
    font-size: 20px;
    white-space: wrap;
    width: 9rem;
    text-align: left;
    margin-left: -2rem;
    
}

.navlink{
    text-decoration: none;
}

.select{
    padding: 5px;
    margin: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid blue;
    box-shadow: 1px 1px 10px aqua;
    border-radius: 6px;
    transition: 0.6s ease;
}

.select:hover {
    color: gold;
}

.select option{
    background-color: white;
    color: black;
}