.cardDiv{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 15rem;
    padding: 1.5rem;

    background-image: url('https://p4.wallpaperbetter.com/wallpaper/235/956/988/space-deep-you-are-wallpaper-preview.jpg');
    border: .3rem solid #ffa801;
    border-radius: 18px;
    box-shadow: 6px 6px 16px white;
    transition: 0.5s ease;
    
}

.cardDiv:hover{
    transform: scale(1.03);
    box-shadow: 6px 6px 16px yellow;
}

.buttonClose{
    cursor: pointer;
    background-color: #808e9b;
    width: 2rem;
    height: 1.5rem;
    border-radius: .5rem;
    border: 2px solid #808e9b;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    align-self: flex-end;
    margin-bottom: 1rem;
    margin-top: -15px;
    margin-right: -15px;
}



.buttonClose:hover{
    background-color: red;
    transition: .3s ;
}

.imgCard{
    /* border: 3px solid white; */
    border-radius: 10px;
    width: 14rem;
    
}

.text{
    /* border: 2px solid white; */
    display: flex;
    align-self: flex-start;
    margin-bottom: -20px;
    padding-right: 2rem;
}

.type{
    /* border: 1px solid red; */
    padding-right: 5rem;
    color: white;
    text-shadow: 2px 2px  15px red; 
    font-size: 20px;
}

.info{
    /* border: 1px solid green; */
    color: yellow;
    text-shadow: 2px 2px  15px white; 
    font-size: 20px;
    white-space: nowrap;
    margin-left: -2rem;

}