.divNav{
    border: 2px solid #c7ecee;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #130f40;   
}

.divNav div{
    width: 5rem;
    display: flex;
    align-items: center;
}

.divSearchBar{
    /* border: 1px solid green; */
    flex-grow: 1;
    height: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    position: relative;
}

.logoDiv{
    /* border: 1px solid green; */
    flex-grow: 1;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.divButtons{
    /* border: 1px solid green; */
    flex-grow: 1;
    height: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-around;
    display: flex;
}

.divButtons button{
    padding: .5rem;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
    
    border-radius: .5rem;
    border: 2px solid #05204A;
    background-color: #02020A;
    color: #BFACAA;
    box-shadow: 1px 1px 15px black;
}

.divButtons button:hover{
    scale: calc(1.1);
    box-shadow: 1px 1px 5px #BFACAA;
}

.logoDiv img{
    /* border: 1px solid red; */
    cursor: pointer;
    width: 12rem;
    transition: .3s;
}

.logoDiv img:hover{
    scale: calc(1.1);
}


